<h1>Welcome to the proyect</h1>

<a href="/realTimeProducts"><button class="btn btn-success"> Realtime</button></a>
<a href="/allproducts"><button class="btn btn-success"> All product</button></a>
<a href="/message"><button class="btn btn-success"> Message</button></a>
<a href="/cart"><button class="btn btn-success"> Cart</button></a>
<a href="/createproduct"><button class="btn btn-success"> createproduct</button></a>

{{#if userLog}}
    {{#each userLog}}
    <li>
        <br>
        <p>Hola {{this.first_name}}</p>
        <p>rol :{{this.rol}}</p>
        
    
    </li>
    {{/each}}
    {{else}}
    <h3>No product exists</h3>
    {{/if}}

<form action="/api/users/logout" method="get">
<input type="submit" value="LOG OUT" class="btn btn-success">
</form>